<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Список медикаментов{% endblock %}</title>
</head>
<body>
    {% extends "core/base.html" %}

    {% block title %}Список медикаментов{% endblock %}

    {% block content %}
    <h2>Список медикаментов</h2>
    <a href="{% url 'index' %}">На главную</a>
    <ul>
        {% for med in medications %}
            <li>
                <strong>{{ med.name }}</strong> (Код: {{ med.code }})<br>
                Категория: {{ med.category }}<br>
                Отдел: {{ med.department }}<br>
                Цена: {{ med.price }}<br>
                Описание: {{ med.description }}<br>
                {% if med.photo %}
                    <img src="{{ med.photo.url }}" alt="{{ med.name }}" width="100">
                {% endif %}
                <hr>
            </li>
        {% empty %}
            <li>Нет медикаментов.</li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>
