{% extends "core/base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<h2>{{ article.title }}</h2>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "headline": "{{ article.title|escapejs }}",
  "datePublished": "{{ article.created_at|date:'c' }}",
  "dateModified": "{{ article.updated_at|date:'c' }}",
  "image": [{% if article.image %}"{{ request.scheme }}://{{ request.get_host }}{{ article.image.url }}"{% endif %}],
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ request.build_absolute_uri }}"
  },
  "author": {
    "@type": "Organization",
    "name": "Аптека \"Здоровье\""
  },
  "publisher": {
    "@type": "Organization",
    "name": "Аптека \"Здоровье\"",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ request.scheme }}://{{ request.get_host }}/static/images/favicon.jpg"
    }
  },
  "description": "{{ article.summary|default:article.content|truncatewords:30|escapejs }}"
}
</script>
{% if article.image %}
    <img src="{{ article.image.url }}" alt="{{ article.title }}" width="300">
{% endif %}
<p>
    <em>{{ article.created_at|date:"d.m.Y H:i" }}</em>
    <br>
    <em>Изменено: {{ article.updated_at|date:"d.m.Y H:i" }}</em>
</p>
<p>{{ article.content }}</p>
<a href="{% url 'news_list' %}">← К списку новостей</a>
{% endblock %}
